In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [12]:
data = {'Employee_id': [10, 20, 15, 25, 30],
        'Gender': ['M', 'F', 'F', 'M', 'F'],
        'Remarks': ['Good', 'Nice', 'Good', 'Great', 'Nice'],
        }

In [13]:
df = pd.DataFrame(data)
df

   Employee_id Gender Remarks
0           10      M    Good
1           20      F    Nice
2           15      F    Good
3           25      M   Great
4           30      F    Nice

In [23]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['Gender', 'Remarks']

In [34]:
encoder = OneHotEncoder(sparse_output=False)

In [35]:
one_hot_encoded = encoder.fit_transform(df[categorical_columns])
one_hot_encoded

array([[0., 1., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       [1., 0., 1., 0., 0.],
       [0., 1., 0., 1., 0.],
       [1., 0., 0., 0., 1.]])

In [37]:
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))
one_hot_df

   Gender_F  Gender_M  Remarks_Good  Remarks_Great  Remarks_Nice
0       0.0       1.0           1.0            0.0           0.0
1       1.0       0.0           0.0            0.0           1.0
2       1.0       0.0           1.0            0.0           0.0
3       0.0       1.0           0.0            1.0           0.0
4       1.0       0.0           0.0            0.0           1.0

In [40]:
df_encoded = pd.concat([df, one_hot_df], axis=1)
df_encoded

,Employee_id,Gender,Remarks,Gender_F,Gender_M,Remarks_Good,Remarks_Great,Remarks_Nice
0,10,M,Good,0.0,1.0,1.0,0.0,0.0
1,20,F,Nice,1.0,0.0,0.0,0.0,1.0
2,15,F,Good,1.0,0.0,1.0,0.0,0.0
3,25,M,Great,0.0,1.0,0.0,1.0,0.0
4,30,F,Nice,1.0,0.0,0.0,0.0,1.0

In [41]:
df_encoded = df_encoded.drop(categorical_columns, axis=1)
df_encoded

   Employee_id  Gender_F  Gender_M  Remarks_Good  Remarks_Great  Remarks_Nice
0           10       0.0       1.0           1.0            0.0           0.0
1           20       1.0       0.0           0.0            0.0           1.0
2           15       1.0       0.0           1.0            0.0           0.0
3           25       0.0       1.0           0.0            1.0           0.0
4           30       1.0       0.0           0.0            0.0           1.0